<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTY2NGRlZTgtZWU1ZC00NzhkLTgyMmYtYTQyZDgzYmE0ZmYzXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 150px; max-height: 240px"
       alt="...">
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">9.1/10</figcaption>
</figure>
