<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BYTFiMWNlNmItMDRiYy00NzA4LWE5YjItZmViNWQ2NzhhOWZlXkEyXkFqcGdeQXVyMTA2Mjc5ODMy._V1_.jpg"
       class="figure-img img-fluid rounded img-thumbnail"
       style="max-width: 120px;"
       alt="...">
  <figcaption class="figure-caption">Actor Name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
