<!--<h1>{{title | lowercase}}</h1>-->
<!--<h5>-->
<!--  The date today is: {{today | date: 'dd/MM/yyyy'}}-->
<!--</h5>-->

<!--&lt;!&ndash;<img [src]="imageUrl" [width]="imageWidth" />&ndash;&gt;-->


<!--&lt;!&ndash;<p [class]="multipleClasses">&ndash;&gt;-->
<!--&lt;!&ndash;  Selling price: {{sellingPrice | currency}}, profit: {{sellingPrice | profit: 10 | currency}}&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;<button type="button" [attr.aria-label]="attributeValue" >CioKiro</button>&ndash;&gt;-->

<!--<input #color placeholder="type your color">-->

<!--<button (click)="setTextColor(color.value)">Set color</button>-->

<!--<p [style.color]="pColor">-->
<!--  This is just a simple text-->
<!--</p>-->

<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;  Time now: {{timeNow}}&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--<input [(ngModel)]="fullName" >-->

<!--<p>{{fullName}}</p>-->

<!--Navbar-->
<app-navbar></app-navbar>

<!--Application content-->
<div class="container text-center">
  <!--  <app-home></app-home>-->
  <!--  <app-details></app-details>-->
<!--  <app-search></app-search>-->
  <router-outlet></router-outlet>
</div>

<!--Footer-->
<app-footer></app-footer>
